CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/*
build/*
out/*
src/project_path.hpp
.vscode/settings.json
.vscode/*
.DS_Store
.idea/*